<?php
$magazineUrl = $this->getBaseUrl().$this->getRouterMagazine()?>
<?php $videoMagazineUrl = $this->getBaseUrl().$this->getRouterVideo()?>
<?php $currentUrl  = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true])?>
<ul class="press-nav">
	<?php if($currentUrl == $magazineUrl):?>
		<li class="pr active"><a href="<?php echo $magazineUrl?>"><?php echo __('Press')?></a></li>
		<li class="vs"><a  href="<?php echo $videoMagazineUrl?>"><?php echo __('Video')?></a></li>
	<?php else:?>
		<li class="pr"><a  href="<?php echo $magazineUrl?>"><?php echo __('Press')?></a></li>
		<li class="vs active"><a href="<?php echo $videoMagazineUrl?>"><?php echo __('Video')?></a></li>
	<?php endif;?>

</ul>