
<?php $ruleData = $this->getCurrentRule();
$associated = explode(",",$ruleData->getAssociated()); ?>
<label class="admin__field-label" >
    <span>Associated Products	</span>
</label>
<table id="attribute-options-table" class="dynamic-grid plumpromo-assoc" cellspacing="0" cellpadding="0"><tbody>
    <tr>
        <th>Product SKU</th>
        <th>Discount % <span style="color:red;">(valids with type: discount)</span></th>
        <th><button id="add_new_option_button" title="Add Option" type="button" class="scalable add"><span><span><span>Add Option</span></span></span></button></th>
    </tr>
    <?php $n = 0; foreach ($associated as $key => $v): $n++?>
        <?php $explode = explode('---',$v); ?>
        <?php if(count($explode) > 1): ?>
            <?php if ($explode[0] != null): ?>
                <tr class="option-row plumpromo-assoc-sku" id="hour-row-<?php echo $n ?>">
                    <td>
                        <input name="associal[value][option_<?php echo $n ?>][sku]" id="option-<?php echo $n ?>"
                               class="input-text option-acc class-option-<?php echo $n ?>" type="text"
                               value="<?php echo $explode[0] ?>">
                    </td>
                    <td><input id="promprice-option-<?php echo $n ?>"
                               name="associal[value][option_<?php echo $n ?>][promprice]"
                               class="input-text validate-number option-acc" type="text" value="<?php echo $explode[1] ?>">
                    </td>
                    <td><input id="delete-row-<?php echo $n ?>" type="hidden" class="delete-flag"
                               name="associal[delete][option_<?php echo $n ?>][del]" value="">
                        <button onclick="$('hour-row-<?php echo $n; ?>').remove();" title="Delete"
                                type="button" class="scalable delete delete-option">
                            <span><span><span>Delete</span></span></span></button>
                    </td>
                </tr>
            <?php endif; ?>
        <?php endif; ?>
    <?php endforeach;?>
</table>
<!--<input name="associated" type="text" value="test-option-1,test-option-2,test-option-3"/>-->
<script type="text/javascript">
    require(['custom','jquery']);
</script>
