& when (@media-common = true) {
.modal-gift-content{
	.modal-inner-wrap {
		max-width: 700px;
	}
	.modal-gift {
		text-align: center;
		.main-title {
			font-size: 32px;
			margin: 0 0 5px;
		}
		.short-desc.samples {
			font-size: 15px;
			font-weight: 700;
			text-transform: uppercase;
		}
		
	}
	.modal-footer {
		text-align: center;
	}
	.promotional-content {
		max-height: 320px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0 15px;
		margin-top: 25px;
		.step {
			font-size: 18px;
			font-weight: 600;
			margin: 25px 0 25px;
			position: relative;
			text-align: left;
			text-transform: uppercase;
			span {
				background: #ffffff none repeat scroll 0 0;
				display: inline-block;
				padding-right: 10px;
				position: relative;
				z-index: 100;
			}
			&::before {
				background: #f5f5f5 none repeat scroll 0 0;
				content: "";
				height: 1px;
				position: absolute;
				top: 50%;
				width: 100%;
				z-index: 10;
			}
		}
		.promotional-products {
			overflow: hidden;
			padding: 0;
			margin: 0 -10px;
			.item {
				box-sizing: border-box;
				float: left;
				padding: 0 10px;
				width: 33.33%;
				text-align: center;
				list-style: outside none none;
				&:nth-child(3n+1) {
					clear: both;
				}
				.item-info .product-image {
					border: 2px solid #f5f5f5;
					display: block;
					img {
						width: 100%;
					}
				}
				.product-name {
					font-size: 14px;
					margin: 10px 0 5px;
				}
				 a {
					color: #333333;
				}
			}
		}
	}
	
}

.modal-gift-content.free-samples-gift-nomarl {
	text-align: center;
	.main-title {
		font-size: 32px;
		margin: 0 0 5px;
	}
	.short-desc.samples {
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
	}
	width: 72%;
	float: left;
	padding: 20px 0;
	.promotional-content .promotional-products .item {
		width: 16.66%;
		&:nth-child(3n+1) {
			clear: inherit;
		}
		&:nth-child(6n+1) {
			clear: both;
		}
	}
	.nomarl-addtocart {
		text-align: center;
	}
}


}