<?php
$collection = $this->getCollections();
$mediaUrl = $this->getBaseUrl();
?>
<div class=" main-slider-home visible-mobile">
    <div class="slide-topbanner  tab-content slider" id="owl-carousel-banner-mobile">
        <?php
        $count_content = 1;
        foreach ($collection as $item):?>
            <div class="detail tab-pane item item-<?php echo $count_content ?> active" id="tab<?php echo $count_content ?>">
                <div class="swrap block-promo home-main">
                    <?php if ($item->getImage() !== null):?>
                    <?php $imageresizeMobile = $mediaUrl.'pub/media/'.$item->getImage(); ?>
                    <a href="<?php echo $item->getButton() ?>" class="<?php echo $item->getName(); ?>">
                        <img class="img-slide" src="<?php echo $imageresizeMobile; ?>" alt="<?php echo $item->getTitle(); ?>">
                    </a>
                    <?php endif;?>
                    <div class="information cm al">
                        <div class="content" style="height: 542px;">
                            <div class="title">


                                <h1 class="bhd"><?php echo $item->getName(); ?></h1>

                            </div>
                            <div class="description">

                                <h5 class="is-des-tab"><?php echo $item->getSubTitle(); ?></h5>

                                <p><?php echo $item->getDescription(); ?></p>
                                <div class="actions">
                                    <a href="<?php echo $item->getUrl(); ?>" class="button"><span><span><?php echo $item->getButton(); ?></span></span></a>																				</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php $count_content++; endforeach; ?>

    </div>
</div>


<script type="text/javascript">
    requirejs([
        'jquery',
        'owl'
    ], function ($, owl) {
        $(document).ready(function () {
            $('#owl-carousel-banner-mobile').owlCarousel({
                items: 1,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                loop: true,
                nav: true,
                navRewind: true,
                margin: 10,
                navText: ["<", ">"],
                dots: false,
                responsive: {
                    0: {items: 1},
                    479: {items: 1},
                    768: {items: 1},
                    991: {items: 1},
                    1024: {items: 1}
                }
            });
        });

    });
</script>