<?php   $collectionMagazine = $this->getMagazine();
$collectionVideoMagazine = $this->getVideoMagazine(); ?>

<div class="magazine-block">
    <ul class="av-tab">
        <li data-enable="1" id="tab_press" class="magazine-title active">
            <h2><?php echo __('In the Press');?></h2>
        </li>

        <li data-enable="1" id="tab_video" class="video-title">
            <h2><?php echo __('Video Mentions');?></h2>
        </li>
    </ul>
    <?php if(count($collectionMagazine) != 0):?>
        <div class="magazine-slider magazine-item   magazine-tab active owl-carousel-banner-mobile-magazine tab-content slider">
            <?php $count_content=1; foreach ($collectionMagazine as $magazines): $count_content++?>
                <div id="tab<?php echo $count_content ?>"
                     class="magazine-item tab-pane item item-<?php echo $count_content ?> active">
                    <div class="magazine-detail">
                        <div class="image">
                            <a class="image-magzine" rel="example_group" href="<?php if($magazines['big_image']){echo $this->getMediapath($magazines['big_image']);}else{echo "#";}?>">
                                <img src="<?php echo $this->getMediapath($magazines['image'])?>" class="img-slide image-magazine"/>
                            </a>
                        </div>
                    </div>
                    <div class="magazine-heading">
                        <h2 class="title-heading">
                            <a class="get=link" rel="example_group"
                                <?php if($magazines['url_magazine']):?>
                                    href="<?php echo $magazines['url_magazine']?>"
                                    onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"
                                <?php endif;?>>
                                <?php echo $magazines['name_number']?>
                            </a>
                        </h2>
                        <p class="magazine-date"><?php echo $this->getMonth($magazines['post_date']).' '.$this->getYear($magazines['post_date']) ?></p>
                    </div>
                </div>
            <?php endforeach;?>
        </div>
    <?php else:?>
        <div class="magazine-slider magazine-item   magazine-tab active owl-carousel-banner-mobile-magazine tab-content slider">
            <span><?php echo __("not have any Magazine in widget list")?></span>
        </div>
    <?php endif;?>



    <?php if(count($collectionVideoMagazine) != 0):?>

        <div class="video-slider video-item magazine-tab owl-carousel-banner-mobile tab-content slider">
            <?php $count_content = 1;
            foreach ($collectionVideoMagazine as $videoMagazines): $count_content++; ?>
                <div id="tab<?php echo $count_content ?>"
                     class="magazine-item tab-pane item item-<?php echo $count_content ?> active">
                    <div class="magazine-detail">
                        <div class="image">
                            <a class="various popup-iframe" <?php if($videoMagazines['url_magazine']):?>
                                href="<?php echo $videoMagazines['url_magazine']?>"
                                onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"
                            <?php else: ?> href="javascript:void(0)" <?php endif;?>>
                                <img src="<?php echo $this->getMediapath($videoMagazines['image']) ?>"
                                     class="img-slide image-magazine"/>
                            </a>
                        </div>
                    </div>
                    <div class="magazine-heading">
                        <h2 class="title-heading">
                            <a class="get=link" href="javascript:void(0)"><?php echo $videoMagazines['video_name'] ?></a>
                        </h2>
                        <p class="magazine-date"><?php echo $this->getMonth($videoMagazines['post_date']) . ' ' . $this->getYear($videoMagazines['post_date']) ?></p>
                        <a class="various popup-iframe" href="<?php echo $videoMagazines['video_url'] . '?autoplay=1' ?>">
                            <?php echo __('Watch now') ?>
                        </a>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    <?php else:?>
        <div class="video-slider video-item magazine-tab owl-carousel-banner-mobile tab-content slider">
            <span><?php echo __("not have any Video in widget list")?></span>
        </div>
    <?php endif;?>

    <script type="text/javascript">
        require([
            'jquery',
            'owl',
            'fancybox'
        ], function ($) {
            $(document).ready(function() {
                var Magazine = $('.magazine-title');
                var MagazineContent = $('.magazine-item');
                var Video = $('.video-title');
                var VideoContent = $('.video-item');
                Magazine.click(function () {
                    if(Magazine.hasClass('active')){
                        Magazine.removeClass('active');
                        MagazineContent.removeClass('active');
                        Video.addClass('active');
                        VideoContent.addClass('active');
                    }else {
                        Video.removeClass('active');
                        VideoContent.removeClass('active');
                        Magazine.addClass('active');
                        MagazineContent.addClass('active');
                    }
                });
                Video.click(function () {
                    if(Video.hasClass('active')){
                        Video.removeClass('active');
                        VideoContent.removeClass('active');
                        Magazine.addClass('active');
                        MagazineContent.addClass('active');
                    }else {
                        Magazine.removeClass('active');
                        MagazineContent.removeClass('active');
                        Video.addClass('active');
                        VideoContent.addClass('active');
                    }
                });

            });

            $(".popup-iframe").fancybox({
                'width'    : '500',
                'height'   : '75%',
                'autoScale'   : false,
                'transitionIn'  : 'none',
                'transitionOut'  : 'none',
                'type'    : 'iframe',
                'arrows' : false
            });
            $("a[rel=example_group]").fancybox({
                openEffect : 'elastic',
                arrows : false
            });
            $('.owl-carousel-banner-mobile').owlCarousel({
                loop:true,
                autoPlay:5000,
                margin:10,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:2,
                        nav:false
                    },
                    1000:{
                        items:2,
                        nav:true,
                        loop:false
                    }
                }
            });
            $('.owl-carousel-banner-mobile-magazine').owlCarousel({
                loop:true,
                margin:10,
                responsiveClass:true,
                autoPlay:5000,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:2,
                        nav:false
                    },
                    1000:{
                        items:2,
                        nav:true,
                        loop:false
                    }
                }
            });
        });

    </script>
</div>