/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
@font-face{
	font-family:'FontAwesome';
    src: url('../fonts/FontAwesome.otf');
}
.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */
@media(min-width: 768px){
	.owl-theme .owl-controls .owl-buttons{
	font-family: 'FontAwesome';
	position:absolute;
	  top: -55px;
  	right: 0px;
}
}
@media(max-width: 768px){
	.owl-theme .owl-controls .owl-buttons{
	font-family: 'FontAwesome';
	position:absolute;
	  top: 0px;
  	right: 5px;
}
}
.owl-theme .owl-controls .owl-buttons div{
	display: inline-block;
	float:left;
	width: 25px;
	height: 25px;
	margin-left:5px;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	  color: #FFF;
  	/*background: #149435;*/
	/*
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	*/
	-webkit-transition		: all 0.2s ease-in-out;
	-moz-transition			: all 0.2s ease-in-out;
	-o-transition			: all 0.2s ease-in-out;
	transition				: all 0.2s ease-in-out;
}
.owl-theme .owl-controls .owl-buttons div:hover{
	/*background:#ff8a00 !important; */
}

.owl-theme .owl-controls .owl-buttons .owl-next:before,
.owl-theme .owl-controls .owl-buttons .owl-prev:before{
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:before{
	/*content: "\f104";*/
}
.owl-theme .owl-controls .owl-buttons .owl-next:before{
	/*content: "\f105";*/
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	/*filter: Alpha(Opacity=100);
	opacity: 1;
	*/
	text-decoration: none;
	/*background-color:#222;*/
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #999;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../img/owl-loader.gif) no-repeat center center
}