
<?php
$collection = $this->getAllNumberMagazine();
if(count($collection) == 0): ?>
    <div class="magazine-container"><span><?php echo __('Not have any magazine!!!');?></span></div>
<?php else: ?>
	<div class="magazine-container">
    <?php foreach ($collection as $magazine):?>
		<div class="magazine-item ">
			<div class="magazine-detail">
				<div class="image">
					<a class="image-magzine" rel="example_group" href="<?php if($magazine['big_image']){echo $this->getMediapath($magazine['big_image']);}else{echo "#";}?>">
						<img src="<?php echo $this->getMediapath($magazine['image'])?>" class="image-magazine"/>
					</a>
				</div>
			</div>
			<div class="magazine-heading">
				<h2 class="title-heading">
					<a class="get=link" rel="example_group"
						<?php if($magazine['url_magazine']):?>
							href="<?php echo $magazine['url_magazine']?>"
							onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"
						<?php endif;?>>
						<?php echo $magazine['name_number']?>
					</a>
				</h2>
				<p class="magazine-date"><?php echo $this->getMonth($magazine->getPostDate()).' '.$this->getYear($magazine->getPostDate()) ?></p>
				<?php if ($magazine['products']):?>
					<?php $idProducts = explode(',',$magazine['products']);?>
					<p class="dots">
						<?php foreach ($idProducts as $idProduct): ?>
							<?php if($idProduct != "" ):?>
								<?php $product =  $this->getProductById($idProduct); ?>
									<?php if($product->getStatus() == '1' && count($product) >= '1' ):?>
										<a class="button button-magazine" href="<?php echo $product->getProductUrl()?>">
											<?php echo $product->getName()?>
										</a>
									<?php break;?>
									<?php endif;?>
							<?php endif;?>
						<?php endforeach;?>
					</p>
				<?php endif;?>
			</div>
		</div>
	<?php endforeach;?>
	</div>
	<div class="load-content"><a id="load-more"  alt="1" href="javascript:void(0)"><?php echo __('LOAD MORE')?></a></div>
	<input type="hidden" id="input-load-more" value="1">
<?php endif;?>
<script>
	requirejs([
		'jquery', 'fancybox'
	], function ($j) {
		$j(document).ready(function() {
			var showItem = <?php echo 1 * $this->getNumberMagazineCanShow()?> ;
			var numItems = $j('.magazine-item').length;
			if(showItem >= numItems){
				$j('#load-more').css('display','none');
			}else {
				$j('#load-more').css('display','inline-block');
			}
			$j("a[rel=example_group]").fancybox({
				openEffect : 'elastic',
				arrows : false
			});
		});
	});


</script>

