<?php $collectionMagazine =  $this->getAllNumberMagazine(); ?>
<?php if(!count($collectionMagazine)):?>
    <p class="note-msg"><?php echo __('There are no vendors matching the selection.') ?></p>
<?php else: ?>
    <?php foreach ($collectionMagazine as $magazines):?>

        <div class="magazine-item">
            <div class="magazine-detail">
                <div class="image">
                    <a class="image-magzine" rel="example_group" href="<?php if($magazines['big_image']){echo $this->getMediapath($magazines['big_image']);}else{echo "#";}?>">
                        <img src="<?php echo $this->getMediapath($magazines['image'])?>" class="image-magazine"/>
                    </a>
                </div>
            </div>
            <div class="magazine-heading">
                <h2 class="title-heading">
                    <a class="get=link" rel="example_group"
                        <?php if($magazines['url_magazine']):?>
                            href="<?php echo $magazines['url_magazine']?>"
                            onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"
                        <?php endif;?>>
                        <?php echo $magazines['name_number']?>
                    </a>
                </h2>
                <p class="magazine-date"><?php echo $this->getMonth($magazines['post_date']).' '.$this->getYear($magazines['post_date']) ?></p>
                <?php if ($magazines['products']):?>
                <?php $idProducts = explode(',',$magazines['products']);?>
                <p class="dots">
                    <?php  foreach ($idProducts as $idProduct):?>
                        <?php if($idProduct != "" ):?>
                        <?php $product =  $this->getProductById($idProduct);?>
                            <?php if($product->getStatus() == '1'):?>
                                <a class="button button-magazine" href="<?php echo $product->getProductUrl()?>">
                                    <?php echo $product->getName()?>
                                </a>
                                <?php break;?>
                            <?php endif;?>
                            <?php endif;?>
                    <?php endforeach;?>
                </p>
                <?php endif;?>
            </div>
        </div>
    <?php endforeach;?>
<?php endif;?>
<script>
    requirejs([
        'jquery', 'fancybox'
    ], function ($j) {

        $j(document).ready(function() {

            var showItem = <?php echo 1 * $this->getNumberMagazineCanShow()?> ;
            var numItems = $j('.magazine-item').length;
            if(showItem >= numItems){
                $j('#load-more').css('display','none');
            }else {
                $j('#load-more').css('display','inline-block');
            }
            $j("a[rel=example_group]").fancybox({
                openEffect : 'elastic',
                arrows : false
            });
        });
    });


</script>