<?php
/**
 * Product view template
 *
 * @var $block \Plumtreegroup\Promos\Block\Freesamples\GiftRegimen
 */
?>
<?php if($block->getCountCartItem()): ?>
<?php $collectionRule = $block->getCollectionSaleRule(); ?>
<?php
if($collectionRule):
$maxAllowProduct = $collectionRule->getNumberItem();
$typeGift = $collectionRule->getAutoAddtocart();
$prepare = $collectionRule->getData('prepare');
$associated = $collectionRule->getAssociated();
$cleanse = $collectionRule->getData('cleanse');
$treat = $collectionRule->getData('treat');
?>
<?php if ($typeGift == \Plumtreegroup\Promos\Model\Option\AutoOptions::XML_GIFT_NORMAL && $associated): ?>
    <div class="modal-gift-content free-samples-gift-nomarl">
        <h2 class="main-title">
            <p>Free Samples </p>
        </h2>
        <div class="short-desc">
            <p>Choose up to <?php echo $maxAllowProduct; ?> deluxe samples.</p></div>
        <div class="short-desc samples" id="count-samples">
            0 of <?php echo $maxAllowProduct; ?> products selected
        </div>
        <div class="promotional-content">
            <div class="promotional-item">
                <ul class="promotional-products" id="prepare-item">
                    <?php
                    foreach ($block->formatSku($collectionRule->getAssociated()) as $sku):?>
                        <?php if(!$sku)continue; ?>
                        <?php $products = $this->getCollectionProductBySku($sku); ?>
                        <?php if($products->getId() > 0): ?>
                        <li class="item">
                            <div class="item-info">
                                <a class="product-image" href="<?php echo $products->getUrl(); ?>">
                                    <img src="<?php echo $this->getImage($products); ?>"/>
                                </a>
                                <div class="promotional-button">
                                    <input <?php echo $this->isChecked($sku,$typeGift); ?> type="checkbox" name="skus[]" id="deluxe" class="feesamples-nopopup deluxe"
                                                                                                                                                 value="<?php echo $sku ?>"/>
                                </div>
                            </div>
                        </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
        <div class="nomarl-addtocart">
            <button class="action-primary addtocart" type="button" data-role="action" ><span>Add To Cart</span></button>
        </div>
    </div>
<?php endif; ?>

<?php if ($typeGift == \Plumtreegroup\Promos\Model\Option\AutoOptions::XML_GIFT_DELUXE && $associated): ?>
    <div class="free-samples-gift-deluxe modal-gift">
        <h2 class="main-title">
            <p>Free Samples </p>
        </h2>
        <div class="short-desc">
            <p>Choose up to <?php echo $maxAllowProduct; ?> deluxe samples.</p></div>
        <div class="short-desc samples" id="count-samples">
            0/<?php echo $maxAllowProduct; ?> products selected
        </div>
        <div class="promotional-content">
            <div class="promotional-item">
                <ul class="promotional-products" id="prepare-item">
                    <?php
                    foreach ($block->formatSku($collectionRule->getAssociated()) as $sku):?>
                        <?php if(!$sku)continue; ?>
                        <?php $products = $block->getCollectionProductBySku($sku); ?>
                        <?php if($products->getId() > 0): ?>
                        <li class="item">
                            <div class="item-info">
                                <a class="product-image" href="<?php echo $products->getUrl(); ?>">
                                    <img src="<?php echo $this->getImage($products); ?>"/>
                                </a>
                                <h2 class="product-name"><a href="<?php echo $products->getUrl(); ?>"><?php echo $products->getName(); ?></a></h2>
                                <div class="promotional-button">
                                    <input <?php echo $this->isChecked($sku,$typeGift); ?> type="checkbox" name="skus[]" id="deluxe" class="feesamples-nopopup deluxe"
                                                                                                                                                 value="<?php echo $sku ?>"/>
                                </div>
                            </div>
                        </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
<?php endif; ?>


<?php if ($typeGift == \Plumtreegroup\Promos\Model\Option\AutoOptions::XML_GIFT_REGIMEN && ($prepare || $cleanse || $treat)): ?>

    <?php
        $countGroup = 0;
        if($prepare){
            $countGroup++;
        }
        if($cleanse){
            $countGroup++;
        }
        if($treat){
            $countGroup++;
        }
    ?>
    <div class="free-samples-gift-regimen modal-gift">
        <h2 class="main-title">
            <p>Select Your Complimentary Gift</p>
        </h2>
        <div class="short-desc">
            <p>Build your Regimen! Choose up to 1 Deluxe Sample from each step.</p></div>
        <div class="short-desc samples" id="count-samples">
            0/<?php echo $maxAllowProduct * $countGroup; ?> products selected
        </div>
		<div class="promotional-content">
            <?php if($prepare): ?>
			<div class="promotional-item">
				<h2 class="step s1"><span>Prepare</span></h2>
				<ul class="promotional-products" id="prepare-item">
					<?php
					foreach (explode(',', $prepare) as $skuPrepare):?>
                        <?php if(!$skuPrepare)continue; ?>
                        <?php $products = $this->getCollectionProductBySku($skuPrepare); ?>
						<li class="item">
							<div class="item-info">
								<a class="product-image" href="<?php echo $products->getUrl(); ?>">
									<img src="<?php echo $this->getImage($products); ?>"/>
								</a>
								<h2 class="product-name"><a href="<?php echo $products->getUrl(); ?>"><?php echo $products->getName(); ?></a></h2>
								<div class="promotional-button">
									<input <?php echo $this->isChecked($products->getSku(),$typeGift,'prepare'); ?> type="checkbox" name="skus[]" id="prepare" class="feesamples-nopopup prepare"
									   value="<?php echo $products->getSku(); ?>---prepare"/><span><?php echo $products->getSku(); ?></span>
								</div>
							</div>
						</li>
					<?php endforeach;?>
				</ul>
			</div>
            <?php endif; ?>
            <?php if($cleanse): ?>
			<div class="promotional-item">
				<h2 class="step s2"><span>Cleanse</span></h2>
				<ul class="promotional-products" id="cleanse-item">
					<?php
					foreach (explode(',', $cleanse) as $skuCleanse):?>
                        <?php if(!$skuCleanse)continue; ?>
                        <?php $products = $this->getCollectionProductBySku($skuCleanse); ?>
						<li class="item">
							<div class="item-info">
								<a class="product-image" href="<?php echo $products->getUrl(); ?>">
									<img src="<?php echo $this->getImage($products); ?>"/>
								</a>
								<h2 class="product-name"><a href="<?php echo $products->getUrl(); ?>"><?php echo $products->getName(); ?></a></h2>
								<div class="promotional-button">
								<input <?php echo $this->isChecked($products->getSku(),$typeGift,'cleanse'); ?> type="checkbox" name="skus[]" id="cleanse" class="feesamples-nopopup cleanse"
									   value="<?php echo $products->getSku(); ?>---cleanse"/><span><?php echo $products->getSku(); ?></span>
								</div>
							</div>
						</li>
					<?php endforeach; ?>
				</ul>
			</div>
            <?php endif; ?>
            <?php if($treat): ?>
			<div class="promotional-item">
				<h2 class="step s3"><span>Treat</span></h2>
				<ul class="promotional-products" id="treat-item">
					<?php
					foreach (explode(',', $treat) as $skuTreat):?>
                        <?php if(!$skuTreat)continue; ?>
                        <?php $products = $this->getCollectionProductBySku($skuTreat); ?>
						<li class="item">
							<div class="item-info">
								<a class="product-image" href="<?php echo $products->getUrl(); ?>">
									<img src="<?php echo $this->getImage($products); ?>"/>
								</a>
								<h2 class="product-name"><a href="<?php echo $products->getUrl(); ?>"><?php echo $products->getName(); ?></a></h2>
								<div class="promotional-button">
									<input <?php echo $this->isChecked($products->getSku(),$typeGift,'treat'); ?> type="checkbox" name="skus[]" id="treat" class="feesamples-nopopup treat"
								   value="<?php echo $products->getSku(); ?>---treat"/>
								 </div>
							 </div>
						</li>
					<?php endforeach; ?>
				</ul>
			</div>
            <?php endif; ?>
		</div>


    </div>
<?php endif; ?>

<script>
    require([
        'jquery',
        'jquery/ui',
        'Magento_Ui/js/modal/modal'
    ], function ($) {
        var pushItem = [];

        //First load page
        $('.feesamples-nopopup').each(function () {
            var valSku = $(this).val();
            if ($(this).is(':checked')) {
                pushItem.push(valSku);
                var allow = $("input#" + $(this).attr('id') + ":checked").length;
                if (allow == <?php echo $maxAllowProduct ?>) {
                    $("." + $(this).attr('id')).each(function () {
                        if (!$(this).is(':checked')) {
                            $(this).attr('disabled', 'disabled');
                        }
                    });
                }
            }
        });
        countSelected(pushItem);

        $('.feesamples-nopopup').on('click', function () {
            var valSku = $(this).val();
            if ($(this).is(':checked')) {
                pushItem.push(valSku);
            } else {
                pushItem.splice($.inArray(valSku, pushItem), 1);
            }
            var allow = $("input#" + $(this).attr('id') + ":checked").length;
            if (allow == <?php echo $maxAllowProduct ?>) {
                $("." + $(this).attr('id')).each(function () {
                    if (!$(this).is(':checked')) {
                        $(this).attr('disabled', 'disabled');
                    }
                });
                <?php if($typeGift == \Plumtreegroup\Promos\Model\Option\AutoOptions::XML_GIFT_NORMAL): ?>
                addToCartMultipleProducts(pushItem);
                <?php endif; ?>
            } else {
                $("." + $(this).attr('id')).each(function () {
                    if (!$(this).is(':checked')) {
                        $(this).removeAttr('disabled');
                    }
                });
            }
            countSelected(pushItem);
        });

        function countSelected(pushItem) {
            $('#count-samples').text(pushItem.length+'/'+'<?php echo $typeGift ==  \Plumtreegroup\Promos\Model\Option\AutoOptions::XML_GIFT_REGIMEN ? $maxAllowProduct * 3 : $maxAllowProduct; ?>'+' products selected');
        }

        function addToCartMultipleProducts(pushItem) {
            $.ajax({
                url: "<?php echo $block->getStoreUrl() ?>plumtreegrouppromos/promos/add",
                type: 'POST',
                data: {'skus': pushItem,'type':<?php echo $typeGift; ?>},
                showLoader: true,
                async: true,
                success: function (data) {
                    location.reload();
                }
            });
        }

        <?php if($typeGift == \Plumtreegroup\Promos\Model\Option\AutoOptions::XML_GIFT_DELUXE || $typeGift == \Plumtreegroup\Promos\Model\Option\AutoOptions::XML_GIFT_REGIMEN): ?>
        $('.modal-gift')
            .modal({
                autoOpen: true,
				modalClass:'modal-gift-content',
                buttons: [{
                    text: 'Add To Cart',
                    'class': 'action-primary addtocart'
                }]
            });
        <?php endif; ?>
        $('.addtocart').on('click',function () {
            addToCartMultipleProducts(pushItem);
        });
    });
</script>
<?php endif; ?>
<?php endif; ?>
