<?php   $collectionMagazine = $this->getMagazine();
        $collectionVideoMagazine = $this->getVideoMagazine();
?>

<div class="magazine-block">
        <ul class="av-tab">
                <li data-enable="1" id="tab_press" class="magazine-title active">
                        <h2><?php echo __('In the Press');?></h2>
                </li>
        </ul>
        <?php if(count($collectionMagazine) != 0):?>
        <div class="magazine-slider magazine-item-tab   magazine-tab active owl-carousel-banner-mobile-magazine tab-content slider">
                <?php $count_content = 1; foreach ($collectionMagazine as $magazines): $count_content++?>
                        <div id="tab<?php echo $count_content ?>"
                             class="magazine-item tab-pane item item-<?php echo $count_content ?> active">
                                <div class="magazine-detail">
                                        <div class="image">
                                                <a class="image-magzine" rel="example_group" href="<?php if($magazines['big_image']){echo $this->getMediapath($magazines['big_image']);}else{echo "#";}?>">
                                                        <img src="<?php echo $this->getMediapath($magazines['image'])?>" class="img-slide image-magazine"/>
                                                </a>
                                        </div>
                                </div>
                                <div class="magazine-heading">
                                        <h2 class="title-heading">
                                                <a class="get=link" rel="example_group"
                                                    <?php if($magazines['url_magazine']):?>
                                                            href="<?php echo $magazines['url_magazine']?>"
                                                            onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"
                                                    <?php endif;?>>
                                                        <?php echo $magazines['name_number']?>
                                                </a>
                                        </h2>
                                        <p class="magazine-date"><?php echo $this->getMonth($magazines['post_date']).' '.$this->getYear($magazines['post_date']) ?></p>
                                </div>
                        </div>
                <?php endforeach;?>
        </div>
        <?php else:?>
                <div class="magazine-slider magazine-item   magazine-tab active owl-carousel-banner-mobile-magazine tab-content slider">
                        <span><?php echo __("not have any Magazine in widget list")?></span>
                </div>
        <?php endif;?>


        <script type="text/javascript">
                require(['jquery', 'owl', 'fancybox'], function ($) {
                        $(document).ready(function () {
                                function openInNewTab(url) {
                                        var win = window.open(url, '_blank');
                                        win.focus();
                                }
                        });


                        $(".popup-iframe").fancybox({
                                'width': '500',
                                'height': '75%',
                                'autoScale': false,
                                'transitionIn': 'none',
                                'transitionOut': 'none',
                                'type': 'iframe',
                                'arrows': false
                        });
                        $("a[rel=example_group]").fancybox({
                                openEffect: 'elastic',
                                arrows: false
                        });
                        $('.owl-carousel-banner-mobile-magazine').owlCarousel({
                                items: 6,
                                autoplay: true,
                                autoplayTimeout: 5000,
                                autoplayHoverPause: true,
                                loop: true,
                                navRewind: true,
                                margin: 10,
                                navText: ["<", ">"],
                                dots: false,
                                responsive: {
                                        0: {items: 1},
                                        479: {items: 2},
                                        768: {items: 3},
                                        991: {items: 5},
                                        1024: {items: 6, nav: true}
                                }
                        });
                });


        </script>
</div>