& when (@media-common = true) {
.magazine-container {
    margin: 0 -15px;
    overflow: hidden;
	.magazine-item {
		box-sizing: border-box;
		float: left;
		margin-bottom: 30px;
		padding: 0 15px;
		text-align: center;
		width: 33.33%;
		&:nth-child(3n+1) {
			clear: left;
		}
		.title-heading {
			font-size: 20px;
			margin: 10px 0;
			text-transform: capitalize;
		}
		.dots {
			margin: 0;
			&::before {
				content: ".......................";
				left: 50%;
				margin-left: -19px;
				overflow: hidden;
				position: absolute;
				top: -3px;
				width: 38px;
			}
			.button-magazine {
				color: #98c2d3;
				font-size: 15px;
				text-transform: capitalize;
			}
		}
	}
	
}
	.filter-options-content .item .active {
	    color: #f58874;
	}

.magazine-slider {
    margin: 0 -15px;
	.magazine-item {
		padding: 0 15px;
	}
}


	.filter-options-content .item {
	   display: none;
	}
	.load-content{
		text-align: center;
			#load-more {
				border: 1px solid #cccccc;
				display: inline-block;
				padding: 10px 30px;
			}
	}
	.popup-iframe::before {
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1000;
	}
	.popup-iframe {
		display: block;
		position: relative;
	}
	ul.press-nav {
		display: block;
		position: relative;
		z-index: 1;
		text-align: center;
		border-bottom: 1px solid #eee;
		li {
			display: inline-block;
			margin: 5px 30px 0;
			padding: 0;
			a {
				font-size: 18px;
				color: #5f6a72;
				padding: 15px 0 15px 24px;
				display: block;
				&.active{
					color: #f58774;
				}
			}
			span {
				font-size: 18px;
				color: #5f6a72;
				padding: 15px 0 15px 24px;
				display: block;
				&.active{
					color: #f58774;
				}
			}
		}
	}
	
	.magazine-block .magazine-tab {
		display: block;
    	height: 0;
    	opacity: 0;
    	overflow: hidden;
    	visibility: hidden;
		&.active {
			height: auto;
			opacity: 1;
			visibility: visible;
		}
	}
	.av-tab li {
		margin-left: 40px;
		display: inline-block;
		&.active{
			color: #f58874;
			cursor: default;
		}
	}

	.av-tab h2 {
		color: inherit;
	}


	& when (@media-common = true) {
		.main-slider-home{
			.block-promo{
				position: relative;
				.information {
					left: 50px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					z-index: 100;
				}
			}

			.img-slide {
				width: 100%;
			}
		}

		.magazine-slider .magazine-item {
			text-align: center;
		 .image-magzine {
		  display: inline-block;
		 }
		}
		.magazine-heading .title-heading {
			font-size: 15px;
			margin: 10px 0 5px;
			word-break: break-all;
		}

		.catalog-product-view .columns {
			display: block;
		}





	}





}