<div class="block-content filter-content">
    <strong role="heading" aria-level="2"
            class="block-subtitle filter-subtitle"><?php echo __('Shopping Options'); ?></strong>
    <div class="filter-options" id="narrow-by-list" data-role="content"
         data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": true, "multipleCollapsible": true}}'>
        <div class="btn-clear">
            <a style="display:none" href="javascript:void(0)" id="clear-filter"><?php echo __('Clear Filters') ?></a>
        </div>
        <div data-role="collapsible" class="filter-options-item allow" role="presentation" data-collapsible="true">
            <div data-role="title" class="filter-options-title" role="tab" aria-selected="false" aria-expanded="false"
                 tabindex="0">
                <?php echo __('Year') ?>
            </div>
            <div data-role="content" class="filter-options-content year" role="tabpanel" aria-hidden="true"
                 style="display: block;">
                <ol class="items">
                    <?php foreach ($this->getYearMagazine() as $YearMagazine): ?>
                        <li class="item">
                            <a id="year" data="<?php echo $YearMagazine["YEAR(post_date)"] ?>"
                               href="javascript:void(0)">
                                <?php echo $YearMagazine["YEAR(post_date)"] ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ol>
                <div id="loadMoreYear">+ View All</div>
                <div id="showLessYear">- View Less</div>
            </div>
        </div>

        <div data-role="collapsible" class="filter-options-item allow" role="presentation" data-collapsible="true">
            <div data-role="title" class="filter-options-title" role="tab" aria-selected="false" aria-expanded="false"
                 tabindex="0">
                <?php echo __('Show'); ?>
            </div>
            <div data-role="content" class="filter-options-content name" role="tabpanel" aria-hidden="true"
                 style="display: block;">
                <ol class="items">

                    <?php foreach ($this->getValuesNameVideoMagazine() as $nameVideo):?>
                            <li class="item">
                                <a id="name" data="<?php echo $nameVideo ?>" href="javascript:void(0)">
                                    <?php echo $nameVideo ?>
                                </a>
                            </li>
                    <?php endforeach; ?>
                </ol>
                <div id="loadMoreName">+ View All</div>
                <div id="showLessName">- View Less</div>
            </div>
        </div>

        <div data-role="collapsible" class="filter-options-item allow" role="presentation" data-collapsible="true">
            <div data-role="title" class="filter-options-title" role="tab" aria-selected="false" aria-expanded="false"
                 tabindex="0">
                <?php echo __('Product'); ?>
            </div>
            <div data-role="content" class="filter-options-content products" role="tabpanel" aria-hidden="true"
                 style="display: block;">
                <ol class="items">
                    <?php foreach ($this->getListProduct() as $productId): ?>
                        <?php if ($productId != ""): ?>
                            <?php $productName = $this->getProductById($productId); ?>
                            <li class="item">
                                <a id="product" data="<?php echo $productId ?>" href="javascript:void(0)">
                                    <?php echo $productName ?>
                                </a>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ol>
                <div id="loadMoreProducts">+ View All</div>
                <div id="showLessProducts">- View Less</div>
            </div>
        </div>

        <div data-role="collapsible" class="filter-options-item allow" role="presentation" data-collapsible="true">
            <div data-role="title" class="filter-options-title" role="tab" aria-selected="false" aria-expanded="false"
                 tabindex="0">
                <?php echo __('Video Type'); ?>
            </div>
            <div data-role="content" class="filter-options-content type" role="tabpanel" aria-hidden="true"
                 style="display: block;">
                <ol class="items">
                    <?php foreach ($this->getListType() as $typeId):

                        $dataType = $this->getNameTypeVideo($typeId);
                        foreach ($dataType as $type):?>
                            <li class="item">
                                <a id="type" data="<?php echo $type['video_type_id'] ?>"
                                   href="javascript:void(0)">
                                    <?php echo $type['video_type_name'] ?>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    <?php endforeach; ?>
                </ol>
                <div id="loadMoreType">+ View All</div>
                <div id="showLessType">- View Less</div>
            </div>
        </div>
    </div>

</div>
<input type="hidden" name="year[]" id="year-magazine"/>
<input type="hidden" name="product[]" id="product-magazine"/>
<input type="hidden" name="type[]" id="type-magazine"/>
<input type="hidden" name="name[]" id="name-magazine"/>
<script type="text/javascript">
    requirejs([
        'jquery','custom'
    ], function ($j) {
        $j(document).ready(function () {
            $j('.item a#year,a#type,a#product,a#name').click(function () {

                var id = $j(this).attr('id');
                var valInput = $j('#' + id + '-magazine').val();
                var val = $j(this).attr('data');
                if ($j(this).hasClass('active')) {
                    $j(this).removeClass('active');
                    var positionVal = valInput.indexOf(val);
                    var positionChacter = valInput.indexOf(',');
                    if (positionVal == 0 && positionChacter >= 0) {
                        //remove value if not only one
                        var newVal = valInput.replace(val + ',', '');
                    } else if (positionVal == 0 && positionChacter < 0) {
                        //remove value if only one
                        var newVal = valInput.replace(val, '');
                    } else {
                        //remove value normal
                        var newVal = valInput.replace(',' + val, '');
                    }
                    //remove val in hide field
                    $j('#' + id + '-magazine').val(newVal);
                } else {
                    $j(this).addClass('active');
                    if (valInput != null && valInput != '') {
                        var newVal = valInput + ',' + val;
                    } else {
                        var newVal = val;
                    }
                    $j('input#' + id + '-magazine').val(newVal);
                }
                $j(document).ready(ajaxLoadVideoMagazine);
                $j('#clear-filter').css('display', 'block');
            });

            $j('#clear-filter').click(function () {
                $j('.item a#year,a#type,a#product,a#name').removeClass('active');
                $j('#year-magazine').val('');
                $j('#product-magazine').val('');
                $j('#type-magazine').val('');
                $j('#name-magazine').val('');
                $j(document).ready(ajaxLoadVideoMagazine);
                $j('#clear-filter').css('display', 'none');


            });

            $j('#load-more-video').click(function () {
                var Pagecur = $j('#input-load-more-video').val();
                var number = +Pagecur + 1;
                $j('#input-load-more-video').val(number);
                $j(document).ready(ajaxLoadVideoMagazine);
            });


            function ajaxLoadVideoMagazine() {
                var page = $j('#input-load-more-video').val();
                var Dataproduct = $j('#product-magazine').val();
                var Datayear = $j('#year-magazine').val();
                var Datatype = $j('#type-magazine').val();
                var Dataname = $j('#name-magazine').val();
                $j.ajax({
                    url: '<?php echo $this->getBaseUrl() . 'magazine/page/getFilterVideo/'?>',
                    type: "POST",
                    dataType: 'json',
                    showLoader: true,
                    data: {'year': Datayear, 'type': Datatype, 'product': Dataproduct, 'page': page , 'name': Dataname },
                    success: function (data) {
                        if (data.success) {
                            $j('.video-magazine-container').html(data.html);

                        }
                    }
                });
            }


        });
    });
</script>
