<?php $collectionMagazine =  $this->getAllNumberMagazine(); ?>
<?php if(!count($collectionMagazine)):?>
    <p class="note-msg"><?php echo __('There are no vendors matching the selection.') ?></p>
<?php else: ?>
    <?php foreach ($collectionMagazine as $magazines):?>

        <div class="magazine-item">
            <div class="magazine-detail">
                <div class="image">
                    <a class="various popup-iframe" href="<?php echo $magazines['video_url']?>">
                        <img src="<?php echo $this->getMediapath($magazines['image'])?>"/>
                    </a>
                </div>
            </div>
            <div class="magazine-heading">
                <h2 class="title-heading">
                    <a class="get=link" rel="example_group" href="javascript:void(0)"><?php echo $magazines['video_name']?></a>
                </h2>
                <p class="magazine-date"><?php echo $this->getMonth($magazines['post_date']).' '.$this->getYear($magazines['post_date']) ?></p>
                <?php if ($magazines['products']):?>
                <?php $idProducts = explode(',',$magazines['products']);?>
                <p class="dots">
                    <?php $i=0; foreach ($idProducts as $idProduct): $i++?>
                        <?php if($idProduct != "" && $i= '1'):?>
                        <?php $product =  $this->getProductById($idProduct);?>
                            <?php if($product->getStatus() == '1'):?>
                                <a class="button button-magazine" href="<?php echo $product->getProductUrl()?>">
                                    <?php echo $product->getName()?>
                                </a>
                                <?php break;?>
                            <?php endif;?>
                            <?php endif;?>
                    <?php endforeach;?>
                </p>
                <?php endif;?>
                <a class="various popup-iframe" href="<?php echo $magazines['video_url'].'?autoplay=1'?>">
                    <?php echo __('Watch now')?>
                </a>
            </div>
        </div>
    <?php endforeach;?>
<?php endif;?>
<script>
    requirejs([
        'jquery', 'fancybox'
    ], function ($j) {

        $j(document).ready(function() {

            var showItem = <?php echo 1 * $this->getNumberMagazineCanShow()?> ;
            var numItems = $j('.magazine-item').length;
            if(showItem >= numItems){
                $j('#load-more-video').css('display','none');
            }else {
                $j('#load-more-video').css('display','inline-block');
            }
            $j(".popup-iframe").fancybox({
                'width'    : '500',
                'height'   : '75%',
                'autoScale'   : false,
                'transitionIn'  : 'none',
                'transitionOut'  : 'none',
                'type'    : 'iframe',
                'arrows' : false
            });
        });
    });


</script>