
<?php
$collection = $this->getAllNumberMagazine();
if(count($collection) == 0): ?>
    <div class="magazine-container video-magazine-container"><span><?php echo __('Not have any magazine!!!');?></span></div>
<?php else: ?>
    <div class="magazine-container video-magazine-container">
        <?php foreach ($collection as $magazine):?>
            <div class="magazine-item">
                <div class="magazine-detail">
                    <div class="image">
                        <a class="various popup-iframe" href="<?php echo $magazine['video_url']?>">
                           <img src="<?php echo $this->getMediapath($magazine['image'])?>"/>
                        </a>
                    </div>
                </div>
                <div class="magazine-heading">
                    <h2 class="title-heading">
                        <a class="get=link" href="javascript:void(0)"><?php echo $magazine->getVideoName()?></a>
                    </h2>
                    <p class="magazine-date"><?php echo $this->getMonth($magazine->getPostDate()).' '.$this->getYear($magazine->getPostDate()) ?></p>
                    <?php if ($magazine['products']):?>
                        <?php $idProducts = explode(',',$magazine['products']);?>
                        <p class="dots">
                            <?php foreach ($idProducts as $idProduct): ?>
                                <?php if($idProduct != ""):?>
                                    <?php $product =  $this->getProductById($idProduct); ?>
                                    <?php if($product->getStatus() == '1'):?>
                                        <a class="button button-magazine" href="<?php echo $product->getProductUrl()?>">
                                            <?php echo $product->getName()?>
                                        </a>
                                        <?php break;?>
                                    <?php endif;?>
                                <?php endif;?>
                            <?php endforeach;?>
                        </p>
                    <?php endif;?>
                    <a class="various popup-iframe" href="<?php echo $magazine['video_url'].'?autoplay=1'?>">
                        <?php echo __('Watch now')?>
                    </a>
                </div>
            </div>
        <?php endforeach;?>
    </div>
    <div class="load-content"><a id="load-more-video"  alt="1" href="javascript:void(0)"><?php echo __('LOAD MORE')?></a></div>
    <input type="hidden" id="input-load-more-video" value="1">
<?php endif;?>
<script>
    requirejs([
        'jquery', 'fancybox'
    ], function ($j) {
        $j(document).ready(function() {
            var showItem = <?php echo 1 * $this->getNumberMagazineCanShow()?> ;
            var numItems = $j('.magazine-item').length;
            if(showItem >= numItems){
                $j('#load-more-video').css('display','none');
            }else {
                $j('#load-more-video').css('display','inline-block');
            }
            $j(".popup-iframe").fancybox({
                'width'    : '500',
                'height'   : '75%',
                'autoScale'   : false,
                'transitionIn'  : 'none',
                'transitionOut'  : 'none',
                'type'    : 'iframe',
                'arrows' : false
            });
        });
    });


</script>