<?php
$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<?php  echo $block->getGridHtml(); ?>
<input type="hidden" name="magazine_products" id="in_category_products_magazine" data-form-part="product_form" value="">
<script type="text/x-magento-init">
    {
        "*": {
            "Plumtreegroup_Magazine/products/assign-products-magazine": {
                "selectedProducts": <?php /* @escapeNotVerified */ echo $block->getMagazinesJson(); ?>,
                "gridJsObjectName": <?php /* @escapeNotVerified */ echo '"' . $gridJsObjectName . '"' ?: '{}'; ?>
            }
        }
    }
</script>
<!-- @todo remove when "UI components" will support such initialization -->
<script>
    require('mage/apply/main').apply();
</script>